<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="message"
          class="com.indasil.springwork.DefaultMessage" />
          
    <bean id="constructorMessage"
          class="com.indasil.springwork.ConstructorMessage">
        <constructor-arg value="Spring is fun via constructor" />
    </bean>
    
    <bean id="setterMessage"
          class="com.indasil.springwork.SetterMessage">
        <property name="message" value="Spring is fun via setter" />
    </bean>

</beans>